<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.galileo1" level="INFO"/>
    <logger name="org.galileo1" level="DEBUG"/>
    <logger name="org.galileo1" level="TRACE"/>
    <logger name="org.galileo1" level="WARN"/>
    <logger name="org.galileo1" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
</configuration>